html {
  height: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  margin: 0;
  height: 100%;
  overflow: hidden;
}

button {
  padding: 20px;
  background-color: #ac97f8;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 5px black;
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

.container {
  display: flex;
}

.rightContainer {
  flex-basis: 30vh;
  margin-right: 5vh;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px black;
  color: white;
}

.rightContainer h2 {
  text-align: justify;
}

.me {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid white;
}

.socials {
  color: white;
  text-shadow: 1px 1px black;
  text-decoration: none;
}

.header {
  padding: 1vh;
  text-align: center;
  flex-basis: 30vh;
  margin-left: 5vh;
  color: white;
  text-shadow: 1px 1px black;
}

.title {
  margin: 0;
  padding: 1vh;
  text-decoration: underline;
}

.header img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid white;
}

/* Styling for top navigation bar*/
.topNav {
  background-color: rgba(255, 255, 255, 0.4);
  height: 8vh;
  width: 100%;
  color: white;
}

.topNav ul {
  text-align: center;
  list-style: none;
  margin: 0;
}

.topNav li {
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  padding: 1%;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

li:hover {
  text-shadow: 1px 1px 1px rgb(16, 10, 44);
  cursor: pointer;
  border-radius: 5%;
  transform: scale(1.3);
}

/* Styling for front page image gallery */
.imgGallery {
  justify-content: center;
  margin-top: 10vh;
  flex-basis: 200vh;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5vh;
  margin: 5vh;
  text-align: center;
}

/* Note for later: Finx a way to style different size images correctly*/
.imgDiv img {
  width: 90%;
  height: 100%;
  max-height: 100%;;
  object-fit: cover;
  border: 1px solid white;
  box-sizing: border-box;
  text-align: center;
}

.arkContainer {
  flex-basis:200vh;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 100vh;  
  text-align: center;
}

.ark {
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  height: 100vh;
  margin: auto;
}

/* -------- Games -------- */

/* Tic Tac Toe */
#gameboard {
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
 
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 3px rgb(75, 57, 116);
  border-radius: 10px;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 15px solid rgb(214, 144, 255);
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 138, 183);
  border-radius: 10%;
}

.cross:before {
  left: 50%;
  width: 30%;
  height: 100%;
  margin-left: -15%;
}

.cross:after {
  top: 50%;
  height: 30%;
  width: 100%;
  margin-top: -15%;
  margin-left: -50%;
}

/* Rock Paper Scissor */
#rockPaperScissor {
  border: solid 3px rgb(75, 57, 116);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: auto;
}

.rockBtn {
  margin: 4px;
}

/* -------- Advice -------- */

.adviceBox {
  height: 300px;
  align-content: center;
  position: relative;
}

.adviceBtn {
  margin: 5%;
}

.adviceBox > p {
  background-color: white;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 
  0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, 
  rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.about {
  flex-direction: row-reverse;
  margin: 20px;
}

.about p {
  margin: 10px;
  text-align: center;
}

.mobileMenu {
  display: none;
  background-color: pink;
  height: 20vh;
  text-align: center;
  width: 100%;
}

.dropUpContent  {
  display: none;
  position: absolute;
  bottom: 80px;
  max-width: 100px;
}

.dropUpBtn:focus + .dropUpContent {
  display: block;
  transition-duration: 1s;

}

.dropUpBtn{
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  height: 100%;
}

/* Using media queries to adapt the screen to mobile view*/
@media only screen and (max-width: 500px) {
  .header {
    display: none;
  }
  .container {
    flex-direction: column;
    height: 100%
  }
  .rightContainer {
    display: none;
  }
  .imgGallery {
    grid-template-columns: 1fr;
  }
  .topNav {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
 
}
