html {
    height:100%;
}

body {
    background: rgb(2,0,36);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin:0;
    height:100%;
    display: flex;
    overflow: hidden;
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
    width: 30vh;
    height: 100%;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.699);
    overflow:hidden;
    padding: 1vh;
    text-align: center;
    position: absolute;
}

/* Using media queries to adapt the screen to mobile view*/
@media only screen and (max-width: 500px) {
    .header { width: 100%; height: 8vh;}
}

.title {
    margin:0;
    padding: 1vh;
    text-decoration: underline;
}

.header img {
    object-fit:cover;
    max-width: 90%;
    display: block;
    margin: auto;
    border:none;
    mask:
      radial-gradient(40px at bottom,#0000 98%,#000) 50% / 74.00px 100%;
}


/* Styling for top navigation bar*/
.topNav {
    background-color:rgba(255, 255, 255, 0.4);
    height: 8vh;
    width: 100%;
    color: white;
    position: absolute;
}

.topNav ul {
    text-align: center;
    list-style: none;
}

.topNav li {
    margin-left: 5%;
    text-decoration: none;
    display: inline-block;
    padding: 1%;
    font-size:24px;
}

li:hover {
    background-color:rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5%;
}

/* Styling for front page image gallery */
.imgGallery {
    display: flex;
    flex-wrap: wrap;
    position:inherit;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10vh;
    overflow: auto;
    scrollbar-width: none;;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 5px;
}

.column img{
    margin-top:8px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px black;
    vertical-align:middle;
    width: 100%;
}

.page{
    display:none;
}